/* student Info Css */

.table-container-fees {
    width: 60%;
    margin: 10px 60px;
    /* margin increased */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.fees-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background: #fff;
}

.fees-table thead {
    background: #007bff;
    color: white;
}

.fees-table th,
.fees-table td {
    padding: 10px 12px;
    border-bottom: 1px solid #ddd;
}

.fees-table tbody tr:hover {
    background: #eef5ff;
    cursor: pointer;
    transition: 0.2s;
}

.fees-table td {
    color: #333;
    text-align: left;
}

.fees-table th {
    text-align: left;
    font-weight: bold;
}


/* Buttons */
.action-btn {
    padding: 6px 14px;
    margin-right: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    /* light round buttons */
    transition: 0.2s;
}

/* Edit */
.btn-edit {
    background: #f8b400;
    color: #fff;
}

.btn-edit:hover {
    background: #d99800;
}

/* Fees */
.btn-fees {
    background: #187bcd;
    color: white;
}

.btn-fees:hover {
    background: #0f65a5;
}

.fees-studentName {
    margin-top: 20px;
    margin-left: 60px;
    text-align: left;
}

/* যদি Paid হয় তাহলে row-এর ব্যাকগ্রাউন্ড dark */
.paid-row {
  background-color: #7797c7;
  color: white;
  transition: 0.3s;
}

/* Paid বাটনের আলাদা রঙ */
.btn-paid {
  background-color: #28a745;
  color: white;
  cursor: default;
}
.btn-paid:hover {
  background-color: #28a745; /* hover এ পরিবর্তন না */
}